.box{
    width: 170px;
    height: 170px;
    border: 2px solid red;
}

#box1{
    visibility:hidden;
    background-color: greenyellow;
}
#box2{
    background-color: rgba(255, 0, 0, 0.612);
}
#box3{
    display: none;
    background-color: aqua;
}
#box4{
    background-color: rgba(255, 255, 0, 0.607);
}
#box5{
    /* z-index will only work for position:relative absolute fixed or sticky*/
    position: relative;
    top: 49px;
    z-index: 4;
    background-color: rgba(0, 76, 255, 0.612);
}
#box6{
    position: relative;
    z-index: 5;
    background-color: rgba(208, 0, 255, 0.644);
}
#box7{
    position: relative;
    background-color: rgba(0, 255, 119, 0.607);
}